<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TypingGame</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href="/">Home</a>
  <div class="container">
    <div class="box_container">
      <div id="box"></div>
    </div>
    <div class="result">
      <div id="wpm">0 wpm</div>
    </div>
    <div class="article_container">
      <p id="article"></p>
    </div>
    <input type="text" id="user_input">
    <a href="/typegame">New game</a>
  </div>

  <script src="script.js"></script>
</body>
</html>